
<div class="container m-2">

<div class="input-group input-group-sm m-5">
  <div class="input-group-prepend">
    <span class="input-group-text" id="inputGroup-sizing-sm">Фильтрация</span>
  </div>
  <input type="text" class="form-control" [(ngModel)]="filter">
</div>


<div class="form-group m-5">
  <label for="exampleFormControlSelect2">Сортировка</label>
  <select  class="form-control"  id="exampleFormControlSelect2" [(ngModel)]="sorting"> 
  <option value="id">По возрастанию id</option>
  <option value="id2">В обратном порядке id</option>
  <option value="alf">По алфавиту</option>
  <option value="alf1">В обратном порядке по алфавиту</option>

  </select>
</div>

  <table class="table table-bordered m-5 bg-light mr-5">
      <thead>
        <tr>
          <th scope="col">id</th>
          <th scope="col">Фамилия</th>
          <th scope="col">Имя</th>
          <th scope="col">Отчество</th>
        </tr>
      </thead>
      <tbody >
        <tr *ngFor="let student of students | sort : filter : sorting">
          <th scope="row" >{{student.id}}</th>
          <td>{{student.surname}}</td>
          <td>{{student.name}}</td>
          <td>{{student.middlename}}</td>
          <td> <a class="btn btn-secondary ml-2" [routerLink]="['/edit', student.id]">Редактировать</a> </td>     
         </tr>
      </tbody>
    </table>
    <a class="btn btn-outline-secondary m-5" [routerLink]="'/add'">Добавить</a>

</div>